.desctop-nav {
    display: none;
}

.desctop-nav li a {
    padding: 6px 16px;
    border-radius: 8px;
}

.desctop-nav li a:hover {
    outline: 1px solid white;
}

@media (min-width:1050px) {
    .desctop-nav {
        padding: 0.6rem 1.2rem;
        margin-left: clamp(22.5rem, 12vw, 25rem);
        display: flex;
        color: var(--f-secondary);
        font-size: 1.6rem;
        gap: 3.8rem;
        background-color: var(--bg-secondary);
        align-items: center;
        border-radius: 1.6rem;
    }
}