.review-card {
    color: white;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-card-name {
    font-family: var(--font-g-semi-bold);
    font-size: 2rem;
    margin-bottom: 1.2rem;
}