.review-card {

    color: white;
    padding: 1.6rem;
    background-color: #242428;
    position: relative;
    z-index: 2;
    min-height: 30rem;
    border-radius: 1.6rem;
    outline: 1px solid #303036;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.review-course-name {
    font-family: var(--font-g-regular);
    font-size: 1.4rem;
    padding: 0.8rem 0.8rem;

    position: absolute;
    width: fit-content;
    top: 1.6rem;
    right: 0.8rem;
    background-color: #484851;
    border-radius: 1.2rem;
}

.review-card-name {
    font-family: var(--font-g-semi-bold);
    font-size: 2rem;
    margin-bottom: 1.2rem;
}