.hero-course {
    /* min-height: 644px; */
    position: relative;
    z-index: auto;
}

.hero__course-tags {
    display: flex;
    color: var(--f-white);
    flex-wrap: wrap;
    row-gap: 1.2rem;
    column-gap: 1.2rem;
    max-width: 47.6rem;
    height: fit-content;
}

.hero__course-content {
    position: relative;
    z-index: 2;

}

.hero__course-wrapper {
    padding: 3.2rem 0 0;
    position: relative;
}


.course-tag {
    font-family: var(--font-g-regular);
    font-weight: 100;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.4rem;
    background-color: #484851 !important;
    border-radius: .9rem !important;
    outline: none !important;
    padding: 4px 8px;
}

.hero__course-text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-bottom: 3.2rem;
    position: relative;
    z-index: 3;
}

.hero__course-content-title {
    font-family: var(--font-g-extra-bold);
    color: var(--f-white);
    font-size: 36px;
    line-height: 40px;
    margin-top: 1.6rem;
    max-width: 46rem;

}

.hero__content-desc {
    font-family: var(--font-g-regular);
    color: var(--f-secondary);
    font-size: 16px;
    line-height: 2.4rem;
}

.course-page-button {
    width: 100%;
    max-width: 47rem;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: relative;
}

.hero__course-logo {
    width: 100%;
    height: fit-content;
    max-width: 22.7rem;
    position: absolute;
    top: 20%;
    right: -20%;
    opacity: 0.3;
}


.hero__course-logo img {
    width: 100%;
    height: auto;
    position: relative;
}

.hero__course-logo::after {
    content: "";
    position: absolute;
    inset: -100px;

    background: #01D3FE;
    opacity: .4;
    filter: blur(100px);
    z-index: -1;
    pointer-events: none;
}

@media (min-width: 420px) {
    .hero__course-logo {
        right: -10%;
    }
}


@media (min-width: 520px) {
    .hero-course {
        background: transparent;

    }

    .btns {
        flex-direction: row;
    }

    .btns>* {
        padding: 1.4rem 2.6rem !important;
    }

    .hero-desctop-btn {
        display: block;
        font-size: 1.8rem;
    }

    .hero-mobile-shadow-btn::after {
        display: none;
    }

    .hero__content-desc {
        font-size: 1.7rem;
        max-width: 45rem;
    }

    .course-page-button {
        width: 100%;
        max-width: 32rem;
    }

    .hero__course-logo {
        right: -10%;
    }

}

@media (min-width: 650px) {

    .hero__course-content-title {
        font-size: 5rem;
        line-height: 5rem;
        max-width: 56rem;
    }

    .hero__course-logo {
        right: 5%;
    }


}

@media (min-width: 860px) {

    .hero__course-logo {
        right: 5%;
        opacity: 1;
    }

    .hero__course-logo::after {
        opacity: 0.2;

    }

}

@media (min-width: 950px) {
    .hero__course-content-title {
        font-size: 6.4rem;
        line-height: 7rem;
        max-width: 76rem;
    }

    .hero__content-desc {
        font-size: 1.8rem;
        max-width: 53rem;
    }

    .hero__course-text {
        padding-bottom: 2.4rem;
    }

    .hero__course-logo {
        right: -1%;
        opacity: .4;
    }

    .hero__course-logo::after {
        filter: blur(120px);
    }


}

@media (min-width: 1050px) {
    .hero__course-logo {
        right: 10%;
    }
}

@media (min-width: 1150px) {

    .hero__course-logo {
        right: 5%;
        opacity: 1;
    }

}

@media (min-width: 1240px) {
    .hero__course-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .hero__course-content {
        justify-content: start;
    }

    .hero__course-content-title {
        max-width: 76rem !important;
        margin: 0;
    }

    .hero__course-tags {
        margin-bottom: 2.4rem;
    }

    .hero__course-logo {
        max-width: 28.7rem;
        max-height: 28.7rem;
        right: 10%;
        opacity: 1;
    }

   


}