.form-section {
    position: relative;
    z-index: 1;
}

.form-section-content {
    max-width: 80rem;
}

.form-section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(1.8rem, 3vw, 3.2rem) !important;
}

.form-section-utility {
    border-radius: 1.6rem;
    padding: 1.6rem;
}

@media (min-width: 492px) {
    .form-section-utility {
        padding: 2rem;
    }
}

@media (min-width: 950px) {
    .form-section-utility {
        padding: 2.4rem;
    }
}

.input-utility,
.textarea-utility {
    border-radius: 1.6rem;
}

.form-2 {
    position: absolute;
    bottom: -150px;
    left: -380px;
    z-index: -1;
}

.free-lesson-pr {
    position: relative;
    width: fit-content;
}

.free-lesson-pr::after {
    content: "безкоштовний!";
    position: absolute;
    top: 0;
    right: -16.3rem;
    bottom: 0;
    width: fit-content;
    height: auto;
    background-color: #09FF80;
    border-radius: 1.6rem;
    color: #101012;
    padding: 1.6rem 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(5deg);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 3.2rem 0 0 !important;

    max-width: 37rem;
}

form>*:last-child {
    margin-top: 2rem;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.group textarea {
    width: 100% !important;

}

@media (min-width: 492px) {
    form {
        max-width: 52rem;
    }

    .free-lesson-pr::after {
        right: -18.3rem;
    }
}

@media (min-width: 950px) {
    form {
        max-width: 43rem;
    }

    .free-lesson-pr::after {
        right: -19.3rem;
    }

    .form-section-inner {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 50px;
    }

    form {
        padding: 0 !important;
    }
}