.about__course-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.6rem;
    justify-content: space-between;
    padding-bottom: 6.4rem;
}


.about-course {
    position: relative ;
    z-index: auto;
}



@media (min-width: 1200px) {
    .about__course-top {
        flex-direction: row;
    }
}