  header {
      background: transparent;
      padding: 65px 0 1.6rem !important;
      position: relative;
      z-index: 3;
  }

  .header-nav {
      display: flex;
      justify-content: space-between;
  }

  .desctop-nav {
      display: none;
  }

  .logo {
      position: relative;
  }

  .logo-icon {
      position: absolute;
      width: 24px;
      height: 24px;
  }

  .logo-text {
      position: absolute;
      left: 28px;
      padding-top: 10px;
  }

  .burger-menu {
      background-color: #101012;
      border-radius: 10px;
      width: fit-content;
      padding: 8px 8px 4px;
  }

  .header-btns {
      display: none;
  }

  .header-btns>* {
      padding: 1.4rem 2.6rem !important;
  }

  .header-btns>*:first-child {
      font-size: 1.6rem;
      border: none;
  }

  .desctop-nav {
    display: none;
  }


  @media (min-width:400px) {}

  @media (min-width:1050px) {
      .burger-menu {
          display: none;
      }

      .header-btns {
          display: flex;
      }

      .desctop-nav {
          padding: 0.6rem 1.2rem;
          margin-left: clamp(17rem, 12vw, 25rem);   
          display: flex;
          color: var(--f-secondary);
          font-size: 1.6rem;
          gap: 4.8rem;
          background-color: var(--bg-secondary);
          align-items: center;
          border-radius: 1.6rem;
      }
  }